/* Style for the entire config window */
.config-window {
    background-color: yellow;
     border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Style for the close button */
.config-window-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

/* Style for the title label */
.config-window-content {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
