.create-tab-option-box {
    padding: 5px;
    margin: 10px 50px 10px 50px;
    border-radius: 20px;
}

.create-tab-option-box-label {
    margin-right: 10px;
}

.button-global {
    padding: 10px 20px;
}

.button-global-box {
    padding: 0 50px 0 50px;
}

.theme-tab-theme-option {
    padding: 20px 40px;
    margin-bottom: 20px;
}

.theme-tab-theme-option-start {
    padding: 20px 40px;
    margin-bottom: 20px;
    border-left: 3px solid greenyellow;
}

.theme-tab-theme-list {
    padding: 25px;
    margin: 10px 50px 10px 50px;
    border-radius: 20px;
    border: 2px solid lightgray;
}
